* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
display: flex;
flex-direction: column;
border: 4px solid black;
width: 34%;
height: 79vh;
background-color: rgb(216, 187, 107);
}

.input {
  font-size: 2em;
  width: 280px;
  padding: 14px;
  margin: 10px;
  background: transparent;
  text-align: right;
  cursor: pointer;
  color: #ffffff;
}

input {
  font-size: 1em;
  width: 280px;
}

button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background: transparent;
  color: black;
  font-size: 20px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
  cursor: pointer;
}   